<div class="container">
    <table>
        <tr *ngFor="let row of rows; let i=index"> 
            <td *ngFor="let col of columns; let j=index" [ngClass]="{black: (i+j)%2}" (click)="cellSelected(i,j)"></td>
        </tr>
    </table>
    <hr>
        Position of click {{x}} ,{{y}}
    <hr>

</div>

<!-- <table>
    <tr>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
    </tr>
    <tr>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
    </tr>
    <tr>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
    </tr>
    <tr>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
    </tr>
    <tr>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
        <td class="black"></td>
        <td></td>
    </tr>
</table> -->